trigger:
- main

strategy:
 matrix:
    linux:
        operatingSystem: 'ubuntu-latest'
    mac:
        operatingSystem: 'macos-latest'
    windows:
        operatingSystem: 'windows-latest'
        

pool:
  vmImage: ${operatingSystem}

steps:
- script: echo running on ${operatingSystem}
  displayName: 'Run a one-line script'
